In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import f1_score

In [3]:
train=pd.read_csv("Train_bigmart.csv")

In [4]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [10]:
train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [20]:
train['Item_Weight'].fillna(train['Item_Weight'].mean(),inplace=True)

In [24]:
train.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [22]:
train['Outlet_Size'].mode()

0    Medium
dtype: object

In [23]:
train['Outlet_Size'].fillna("Medium",inplace=True)

In [29]:
from sklearn.linear_model import LinearRegression

In [30]:
model=LinearRegression()

In [31]:
model.fit(train)

TypeError: fit() missing 1 required positional argument: 'y'

In [32]:
label=train['Item_Outlet_Sales']

In [33]:
train.drop('Item_Outlet_Sales',axis=1,inplace=True)

In [35]:
from sklearn.model_selection import train_test_split

In [38]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
lb=LabelEncoder()

In [44]:
train['Item_Type']=lb.fit_transform(train['Item_Type'])
train['Item_Fat_Content']=lb.fit_transform(train['Item_Fat_Content'])
train['Item_Identifier']=lb.fit_transform(train['Item_Identifier'])
train['Outlet_Size']=lb.fit_transform(train['Outlet_Size'])

In [45]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,156,9.30,1,0.016047,4,249.8092,OUT049,1999,1,Tier 1,Supermarket Type1
1,8,5.92,2,0.019278,14,48.2692,OUT018,2009,1,Tier 3,Supermarket Type2
2,662,17.50,1,0.016760,10,141.6180,OUT049,1999,1,Tier 1,Supermarket Type1
3,1121,19.20,2,0.000000,6,182.0950,OUT010,1998,1,Tier 3,Grocery Store
4,1297,8.93,1,0.000000,9,53.8614,OUT013,1987,0,Tier 3,Supermarket Type1

In [46]:
train['Outlet_Location_Type']=lb.fit_transform(train['Outlet_Location_Type'])
train['Outlet_Type']=lb.fit_transform(train['Outlet_Type'])
train['Outlet_Identifier']=lb.fit_transform(train['Outlet_Identifier'])

In [47]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,156,9.30,1,0.016047,4,249.8092,9,1999,1,0,1
1,8,5.92,2,0.019278,14,48.2692,3,2009,1,2,2
2,662,17.50,1,0.016760,10,141.6180,9,1999,1,0,1
3,1121,19.20,2,0.000000,6,182.0950,0,1998,1,2,0
4,1297,8.93,1,0.000000,9,53.8614,1,1987,0,2,1

In [49]:
X_train,X_test,Y_train,Y_test=train_test_split(train,label)

In [50]:
X_train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
2546,1158,20.100000,1,0.074931,4,108.9228,3,2009,1,2,2
7291,766,7.520000,2,0.044023,0,183.0950,8,1997,2,0,1
152,470,13.650000,2,0.073209,5,197.6426,3,2009,1,2,2
8390,1453,12.857645,1,0.037829,8,151.0708,4,1985,2,0,0
337,778,15.100000,2,0.087584,6,221.7456,7,2002,1,1,1

In [51]:
model.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [52]:
model.predict(X_test)

array([  493.53748805,  2651.45321621,  3726.2727832 , ...,  3497.60809477,
        -684.37673183,  2564.05622088])

In [55]:
from sklearn.metrics import r2_score

In [63]:
r2_score(model.predict(X_test),Y_test)

0.023330091173608958

In [57]:
Y_test

5332     101.2016
8181    3221.1404
1013    3139.9128
6834     996.0368
4356    3579.3408
1660     918.8040
630     1288.9888
992     1857.5820
3101     978.7260
3801    4502.1396
4166    1904.1880
7129    1454.7730
6632    1324.9420
5630     386.8298
600     2181.8266
3051    2616.5940
8008    2743.7618
4556    1854.9188
6872    1765.7016
7116    2940.1728
1326    3358.2952
1025     146.4760
7507    2451.4756
5059    3451.5072
4530    1162.4868
1937     197.0768
5286    2783.7098
6062     422.1172
3447    2153.1972
3722    1837.6080
          ...
5892    4210.5192
1467    6064.1064
1501     222.3772
7744     450.0808
8501    1508.0370
4033    1771.0280
3122    3361.6242
6126     894.8352
960     1864.2400
2406    3243.7776
7462    1973.4312
8442      38.6164
7199    1462.0968
7107     230.3668
5011    3155.8920
461      759.0120
5757     484.7024
7835      57.2588
7895    5100.0280
5385    2929.5200
6016    3078.6592
6635    1012.0160
3481    1821.6288
6792    3124.5994
3071    3691.1952
6967    2390.8878
5994     633.8416
6910    2450.1440
8486      45.2744
8512    2479.4392
Name: Item_Outlet_Sales, Length: 2131, dtype: float64

In [60]:
test=pd.read_csv("Test_bigmart.csv")

In [61]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [64]:
from sklearn.metrics import explained_variance_score

In [65]:
explained_variance_score(model.predict(X_test),Y_test)

0.023410986833935166

In [66]:
from sklearn.metrics import mean_squared_error

In [67]:
mean_squared_error(model.predict(X_test),Y_test)

1478354.7112163843

In [68]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [69]:
test.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [70]:
test['Item_Weight'].fillna(test['Item_Weight'].mean(),inplace=True)

In [71]:
test.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [72]:
test['Outlet_Size'].mode()

0    Medium
dtype: object

In [73]:
test['Outlet_Size'].fillna("Medium",inplace=True)

In [74]:
test['Item_Type']=lb.fit_transform(test['Item_Type'])
test['Item_Fat_Content']=lb.fit_transform(test['Item_Fat_Content'])
test['Item_Identifier']=lb.fit_transform(test['Item_Identifier'])
test['Outlet_Size']=lb.fit_transform(test['Outlet_Size'])

In [75]:
test['Outlet_Location_Type']=lb.fit_transform(test['Outlet_Location_Type'])
test['Outlet_Type']=lb.fit_transform(test['Outlet_Type'])
test['Outlet_Identifier']=lb.fit_transform(test['Outlet_Identifier'])

In [76]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,1103,20.750000,1,0.007565,13,107.8622,9,1999,1,0,1
1,1067,8.300000,4,0.038428,4,87.3198,2,2007,1,1,1
2,1406,14.600000,1,0.099575,11,241.7538,0,1998,1,2,0
3,809,7.315000,1,0.015388,13,155.0340,2,2007,1,1,1
4,1184,12.695633,2,0.118599,4,234.2300,5,1985,1,2,3

In [77]:
model.predict(test)

array([ 2127.5846475 ,  1212.18459404,  2229.53684646, ...,  1858.93310605,
        3196.04926473,  1228.10255186])

In [78]:
res=model.predict(test)

In [80]:
res=pd.DataFrame({'id':test['Item_Identifier'],'prediction':res})

In [81]:
res.to_csv("output_bigmart.csv")