In [2]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

In [6]:
train_data=pd.read_csv("train_tweet.csv")

In [7]:
train_data.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [10]:
train_data=train_data.drop(['id'],axis=1)

In [12]:
train_data.head()

   label                                              tweet
0      0   @user when a father is dysfunctional and is s...
1      0  @user @user thanks for #lyft credit i can't us...
2      0                                bihday your majesty
3      0  #model   i love u take with u all the time in ...
4      0             factsguide: society now    #motivation

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train,X_test,Y_train,Y_test=train_test_split(train_data['tweet'],train_data['label'])

In [16]:
X_train.shape

(23971,)

In [18]:
Y_train.shape

(23971,)

In [19]:
train_data['label'].value_counts()

0    29720
1     2242
Name: label, dtype: int64

In [20]:
count=CountVectorizer(stop_words='english')

NameError: name 'CountVectorizer' is not defined

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

In [22]:
count=CountVectorizer(stop_words='english')

In [23]:
from sklearn.feature_extraction.text import TfidfTransformer

In [24]:
tfid=TfidfTransformer()

In [25]:
train_count=count.fit_transform(X_train)

In [26]:
train_tf=tfid.fit_transform(train_count)

In [27]:
test_count=count.transform(X_test)

In [28]:
test_tf=tfid.transform(test_count)

In [30]:
from sklearn.ensemble import RandomForestClassifier

In [32]:
model=RandomForestClassifier()

In [33]:
model.fit(train_tf,Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [34]:
res=model.predict(test_tf)

In [36]:
res

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [39]:
from sklearn.metrics import f1_score

In [40]:
f1_score(Y_test,res)

0.61590909090909085

In [41]:
pred_data=pd.read_csv("test_tweet.csv")

In [42]:
pred_data.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [57]:
train_c=count.fit_transform(train_data['tweet'])

In [59]:
train_t=tfid.fit_transform(train_c)

In [60]:
pred_c=count.transform(pred_data['tweet'])

In [62]:
pred_t=tfid.transform(pred_c)

In [64]:
model.fit(train_t,train_data['label'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [65]:
final=model.predict(pred_t)

In [66]:
final

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [67]:
final=pd.DataFrame({'id':pred_data['id'],'tweet':pred_data['tweet'],'label':final})

In [5]:
final.to_csv("output_tweet.csv")

NameError: name 'final' is not defined

In [4]:
def clean_tweet(tweet):
    return " ".join(re.sub("(@[A-Za-z0-9]+)|(^0-9A-za-z \t)"," ",tweet.lower()).split())
train_data["cleaned_tweet"]=train_data["tweet"].apply(clean_tweet)

NameError: name 'train_data' is not defined